*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2fcee;
}
:root{
    --btn-color: #004800;
    --text-color: #3f4a3c;
    --heading-color: #2e7d32;
    --secondary-btn-color: #93c893;
    --btn-radius: 5px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
    background-color: transparent;
}
.nav-bar a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    font-size: 18px;
}
.listNav{
    margin: 10px 0 0 50px;
    /* text-align: center; */
}
ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.search-input{
    background: url('img/search_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg') no-repeat 10px center;
    padding-left: 40px;
    background-size:25px;
}
.search-input::placeholder{
    font-size: 16px;
    color: #a3a3a3;
}
.nav-icons a{
    margin-left: 20px;
    color: var(--text-color);
}
.nav-icons span{
    font-size: 30px;
    cursor: pointer;
}



/* CONTENT 1 */
.contentContainer{
    height: 60vh; /* or any fixed height you prefer */
    align-items: center; /* vertical centering */
    justify-content: start; /* optional: aligns content to the left */
    margin-top: 5rem;
    
}
.row.align-items-center {
    height: 100%;
}

.content1{
    width: 100%;
    /* height: 50%; */
}
.headline {
    font-size: 2.1rem;
    font-weight: 700;
    color: var(--heading-color); 
    margin: 20px 0;
}
.subtext {
    text-align:left;
    font-size: 1rem;
    font-weight: 400;
    color: #555;
    max-width: 600px;
    margin: 0 ;
    line-height: 1.6;
}
.primary-btn {
    background-color: var(--btn-color);
    color: #fff;
    border: none;
    border-radius: var(--btn-radius);
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.primary-btn:hover {
    background-color: var(--secondary-btn-color);
    cursor: pointer;
}
.secondary-btn {
    background-color: var(--secondary-btn-color);
    color: black;
    /* border: 2px solid var(--btn-color); */
    border-radius: var(--btn-radius);
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.img-container{
    max-width: 370px;
    max-height: 324px;
    

}

.img-fluid {
    max-width: 100%;
    height: auto;
    object-fit:cover;
    overflow: hidden;
    border-radius: var(--btn-radius);
}



